<div class="dialog-form" ng-controller="configurator.controller.edittable_clone_controller">
  <div class="dialog-title">
    <h3>{{local.title}}</h3>
  </div>
  <div class="dialog-content">
    <div class="control-group">
      <label class="control-label">{{local.name}}</label>
      <input ng-model="newname" class="control-input input-block-level" type="text" />
    </div>
    <div class="control-group">
      <label class="control-label">{{local.internalName}}</label>
      <input ng-model="internalName" class="control-input input-block-level" type="text" />
    </div>
  </div>
</div>
