<div class="dialog-form" ng-controller="configurator.controller.edittable_save_controller">
  <div class="dialog-content">
    <!--
    <div class="control-group">
      <label class="control-label">Host Name: </label>
      <input ng-model="hostname" class="control-input input-block-level" type="text" />
    </div>
    -->
    <div class="control-group">
      <label class="control-label">{{local.description}}</label>
      <textarea ng-model="description" class="control-input input-block-level"></textarea>
    </div>
  </div>
</div>
