<form class="dialog-form" ng-controller="configurator.controller.editConfig_dialog" id="editConfigDialog">
  <div class="dialog-content">
    <div class="control-group">
      <label class="control-label">{{local.name}}</label>
      <input ng-model="categoryData.name" disabled class="control-input input-block-level" type="text" />
     <!--  <input ng-model="categoryData.name" class="control-input input-block-level flag-noActive" type="text" /> -->
    </div>
    <div class="control-group">
      <label class="control-label">{{local.description}}</label>
      <textarea ng-model="categoryData.description" class="control-input input-block-level flag-item" disabled></textarea>
      <textarea ng-model="categoryData.description" class="control-input input-block-level flag-category"></textarea>
    </div>
    <div class="control-group label-inline">
      <label class="control-label">{{local.visibility}}</label>
      <div class="switchButton butt_grey" firstbutton = "button.basic" secondbutton = "button.advanced" buttonsdisabled="button.disabled" visibility="button.visibility"></div>
      <label class="checkbox" ng-hide="isCloudMode == 'true'">
        <input type="checkbox" ng-model="categoryData.isHidden" />{{local.set}}
        <i class="icon-question-sign tooltip-icon" placement="right" ng-tooltip="hiddenConfTooltip.title"></i>
      </label>
    </div>
  </div>
</form>
