<div  ng-controller="configurator.controller.tools.setupDatabaseOracle.MDMInstanceDetails">
  <div class="dialog-form" style="height : 380px; overflow-y:auto;">
    <div class="dialog-title">
      <h3>{{local.title}}</h3>
      <h6>{{local.info}}</h6>
    </div>
    <div class="dialog-content">
      <div class="control-group">
        <label class="control-label">{{local.name}}</label>
        <input ng-model="data.values.MDMINSTANCENAME" class="control-input input-block-level" type="text" />
        <label class="control-label">{{local.description}}</label>
        <input ng-model="data.values.MDMINSTANCEDESC" class="control-input input-block-level" type="text" />
      </div>
      
    </div>
  </div>
  <div class="form_buttons">
    <button class="cfg_butt float-right" ng-click="closeButtonClick()">{{local.cancel}}</button>
    <button class="cfg_butt float-right" ng-click="nextButtonClick()">{{local.next}}</button>
    <button class="cfg_butt float-right" ng-click="previousButtonClick()">{{local.previous}}</button>
  </div>
</div>
