<div  ng-controller="configurator.controller.tools.setupDatabaseOracle.StorageProfileDetails">
  <div class="dialog-form">
    <div class="dialog-title">
      <h3>{{local.title}}</h3>
      <h6>{{local.info}}</h6>
    </div>
    <div class="dialog-content" ng-init="data.storageProfile = data.storageProfile||'typical'">
      <div class="control-group">
        <label class="radio">
          <input type="radio" name="mode" value="typical" ng-model="data.storageProfile" ng-change="changeProfile()">
          <strong>{{local.typical}}</strong>
          <br/><span>{{local.typicalInforText}}</span>
        </label>
      </div>
      <div class="control-group">
        <label class="radio">
          <input type="radio" name="mode" value="custom" ng-model="data.storageProfile" ng-change="changeProfile()">
          <strong>{{local.custom}}</strong>
          <br/><span>{{local.customInforText}}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="form_buttons">
    <button class="cfg_butt float-right" ng-click="closeButtonClick()">{{local.cancel}}</button>
    <button class="cfg_butt float-right" ng-click="nextButtonClick()">{{local.next}}</button>
    <button class="cfg_butt float-right" ng-click="previousButtonClick()">{{local.previous}}</button>
  </div>
</div>
