<div class="CommunicationContext" ng-controller="configurator.controller.tools.outboundQueue.CommunicationContext">
  <div class="dialog-form" ng-hide="progressing">
    <div class="dialog-title">
      <h3>{{local.title}}
        <span>{{local.information}}</span>
      </h3>
    </div>
    <div class="dialog-content" style="height:300px;">
      <div class="control-group">
        <label class="control-label">{{local.name}}<i class="icon-question-sign tooltip-icon" placement="right" ng-tooltip="tipInfo.CommunicationContextName"></i></label>
        <input ng-model="data.commContextJSON.commContext" type="text" class="control-input input-block-level" />
      </div>
      <div class="control-group">
        <label class="control-label">{{local.property}}<i class="icon-question-sign tooltip-icon" placement="right" ng-tooltip="tipInfo.CommunicationContextProperty"></i></label>
        <table class="table">
          <thead>
            <tr>
              <th class="name">{{local.theadName}}</th>
              <th class="property">{{local.theadProperty}}</th>
              <th class="defaultValue">{{local.theadDefaultValue}}</th>
              <th class="newValue">{{local.theadNewValue}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="prop in staticData[direction + 'CommContext']">
              <td>{{prop.propName}}</td>
              <td style="text-align:center;"><input type="checkbox" ng-model="prop.override" ng-change="overrideAction($event, prop);"/></td>
              <td>{{prop.defaultValue}}</td>
              <td class="newValue">
                <div ng-show="prop.override" ng-init="prop.showEdit = false">
                  <div ng-click="prop.showEdit = true" ng-hide="prop.showEdit">{{prop.value}}</div>
                  <div ng-switch="prop.valueType" ng-show="prop.showEdit">
                    <input class="string" ng-blur="hideEdit(prop)" ng-switch-when="string" type="text"  ng-model="prop.value" />
                    <input class="number" ng-keydown="checkNumber($event);" ng-blur="hideEdit(prop)" ng-switch-when="number" type="text"  ng-model="prop.value" />
                    <select class="boolean" ng-blur="hideEdit(prop)" ng-switch-when="boolean" ng-options="v for v in ['true','false']" ng-model="prop.value"></select>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="dialog-form" ng-show="progressing">
      <div class="dialog-title">
          <h3>{{local.definedNewQueueInformation}}</h3>
      </div>
      <div class="dialog-content">
          <div class="control-group">
            <label class="control-label">{{local.waitingInformation}}</label>
            <div class="progress-striped active">
              <div class="progress_bar"></div>
            </div>
          </div>
      </div>
  </div>

  <div class="form_buttons">
    <button class="cfg_butt float-right" ng-click="closeButtonClick()">{{local.cancel}}</button>
    <button class="cfg_butt float-right" ng-click="finishButtonClick()" ng-class="{inactive : progressing}" ng-disabled="progressing">{{local.finish}}</button>
    <button class="cfg_butt float-right" ng-click="previousButtonClick()" ng-class="{inactive : progressing}" ng-disabled="progressing">{{local.previous}}</button>
  </div>
  
</div>
